@import "@qui/styles/dist/all.min.css";
@import "@qui/base/dist/all.min.css";

@import "@qualcomm-ui/qds-core/styles/components.css";
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css";
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css";
@import "@qualcomm-ui/qds-core/themes/snapdragon-light.css";
@import "@qualcomm-ui/qds-core/themes/snapdragon-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Make project tabs smaller */
  .flexlayout__tab_button {
    @apply h-5·min-h-5·text-xs·leading-3;
  }
}

:root {
  font-family: "Roboto Flex", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--q-text-1-primary);

  --app-primary-background: var(--q-background-1);

  background-color: var(--app-primary-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 90px;
  --app-padding-x: 18px;

  @media screen and (min-width: 768px) {
    --app-padding-x: 48px;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 240px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.page-wrapper {
  max-width: 1280px;
  padding: 24px var(--app-padding-x);
}

.main-content {
  height: 100%;
  width: 100%;
  padding: 20px 26px;
  min-height: calc(100vh - var(--header-height));
}
