name: Qualcomm Preflight Checks

on:
  pull_request:
    branches: [main, "feature/*"]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write
  pull-requests: read

jobs:
  qcom-preflight-checks:
    uses: AudioReach/audioreach-workflows/.github/workflows/qcom-preflight-checks.yml@master
    secrets: inherit
